Списки

In [2]:
type([1, 2, 3, 4.0, 'ssgsgr', [0, 1, 2, 3]])

list

In [3]:
my_list = []

In [4]:
type(my_list)

list

In [5]:
my_list2 = list()
type(my_list2)

list

In [6]:
my_list = [1, 2, 3, 4.0, 'ssgsgr', [0, 1, 2, 3]]
for i in my_list:
    print(type(i), i)

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'float'> 4.0
<class 'str'> ssgsgr
<class 'list'> [0, 1, 2, 3]

In [7]:
len(my_list)

6

In [8]:
my_list[3]

4.0

In [9]:
my_list.index(3)

2

In [12]:
my_list.append('one_more_line')
my_list

[1,
 2,
 3,
 4.0,
 'ssgsgr',
 [0, 1, 2, 3],
 'one_more_line',
 'one_more_line',
 'one_more_line']

In [13]:
my_list.insert(5, 5)

In [14]:
my_list

[1,
 2,
 3,
 4.0,
 'ssgsgr',
 5,
 [0, 1, 2, 3],
 'one_more_line',
 'one_more_line',
 'one_more_line']

In [15]:
my_list.remove(5)

In [16]:
my_list

[1,
 2,
 3,
 4.0,
 'ssgsgr',
 [0, 1, 2, 3],
 'one_more_line',
 'one_more_line',
 'one_more_line']

In [19]:
number_list = [0, 3, 5, 2, 1]
sorted_list = sorted(number_list)
sorted_list

[0, 1, 2, 3, 5]

In [ ]:
str_list = ['z', 'x', 'l', 'd']
sorted(str_list)

In [5]:
new_list = []

for num in range(5):
    el = int(input('Please type an even number: '))
    if el%2 == 0: 
        new_list.append(el)
    else:
        print(f'The number {el} is uneven')
print(new_list)

Please type an even number: 3
The number 3 is uneven
Please type an even number: 2
Please type an even number: 6
Please type an even number: 7
The number 7 is uneven
Please type an even number: 10
[2, 6, 10]

In [8]:
raw_list = ['4%', '23%', '056%']
clean_list = []
for el in raw_list:
    x = int(el.replace('%', ''))
    clean_list.append(x)
clean_list

[4, 23, 56]

In [12]:
crimes = [10000, 3000, 500000]
max(crimes)

500000

In [20]:
population = [500, 10, 1500]
normed_data = []

for i in range(len(crimes)):
    norm = crimes[i] / population[i] * 1000
    normed_data.append(norm)
    
print(normed_data)
maximum = max(normed_data)

print(f"Max crimes per population is {int(maximum)}, it's in the {normed_data.index(maximum)+1}rd city")

[crimes, population, normed_data]

[20000.0, 300000.0, 333333.3333333333]
Max crimes per population is 333333, it's in the 3rd city

[[10000, 3000, 500000],
 [500, 10, 1500],
 [20000.0, 300000.0, 333333.3333333333]]

In [22]:
total_crimes = sum(crimes)

In [23]:
total_population = sum(population)
total_norm = total_crimes / total_population * 1000

In [24]:
total_norm

255223.8805970149